<mat-grid-list cols="3">
    <mat-grid-tile>
        <app-blogitem></app-blogitem>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-blogitem></app-blogitem>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-blogitem></app-blogitem>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-blogitem></app-blogitem>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-blogitem></app-blogitem>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-blogitem></app-blogitem>
    </mat-grid-tile>
</mat-grid-list>